.recipes {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results-ul {
  list-style: none;
  margin-bottom: 2rem;
}

.preview-li {
  /* height: 10rem; */
  display: list-item;
  text-align: center;
}

.preview-fig {
  flex: 0 0 5.8rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.8rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}

.preview-fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.4;
}

.preview-fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.preview-data {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2rem;
  row-gap: 0.1rem;
  align-items: center;
}

.preview-title {
  grid-column: 1/-1;
  font-size: 1.45rem;
  color: #f38e82;
  text-transform: uppercase;
  font-weight: 600;

  text-overflow: ellipsis;
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
}

.preview-publisher {
  font-size: 1.15rem;
  color: #918581;
  text-transform: uppercase;
  font-weight: 600;
}

.preview-link {
  display: flex;
  align-items: center;
  padding: 1.5rem 3.25rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.preview-link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}
